ul {
  list-style: none;
  padding: 0;

  li {
    padding: .25rem;
    margin: .25rem 0;
    border: 1px dotted black;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: $primary-color;
      border-color: #cccccc;
      color: white;
    }
  }
}
